<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo|Register</title>
    <style>
        *{
            box-sizing: border-box;
        }
        td{
            padding:10px;
            
        }
        input{
            padding:6px;
        }
    </style>
</head>
<body>
    <h2 align="center"> Register User</h2>

    <form method="POST" action="">
        {% csrf_token %}
    <table align="center" >
        <tr>
            <td>Enter Username:</td>
            <td><input type="email" name="uname" id="" placeholder="Enter Valid Gmail Address"></td>
        </tr> 

        <tr>
            <td>Enter Password:</td>
            <td><input type="password" name="upass" id=""></td>
        </tr>

        <tr>
            <td>Confirm Password:</td>
            <td><input type="password" name="ucpass" id=""></td>
        </tr>

        <tr>
            <td>Email:</td>
            <td><input type="email" name="uemail" id=""></td>
        </tr>

        <tr>
            <td><input type="submit" value="Register"></td>
            <td><a href="./login">Already User? Login</a></td>
        </tr>

        {% if errmsg %}
        <tr>
           <td style="color:red">{{errmsg}}</td> 
        </tr>
        {% endif %}

        {% if success %}
        <tr>
           <td style="color:green">{{success}}</td> 
           <td><a href="/authapp/login">Login</a></td>
        </tr>
        {% endif %}
    </table>

    </form>
</body>
</html>